<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>CreateBucketServlet</servlet-name>
		<display-name>CreateBucketServlet</display-name>
		<description></description>
		<servlet-class>br.edu.ifsp.arqdsw2.microblog.controller.CreateBucketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBucketServlet</servlet-name>
		<url-pattern>/CreateBucketServlet</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>Microblog JNDI AWSS3</description>
		<res-ref-name>jdbc/Microblog</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
